
<footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Word organic restaurant </h5>
          <p class="grey-text text-lighten-4">Ipsen est un groupe biopharmaceutique français fondé en 1929.
  
            Il est aujourd'hui spécialisé dans trois domaines thérapeutiques : l’oncologie (cancers de la prostate, du sein, de la vessie, du rein, du pancréas, tumeurs neuroendocrines, cancer médullaire de la thyroïde), les neurosciences et les maladies rares1.
            
           </p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Liens Utiles</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="#!">Mention legal</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Conditions d'utilisations</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Contact</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Infos</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2020 Copyright (Doranco) 
      <a class="grey-text text-lighten-4 right" href="#!">Nous Contactez</a>
      </div>
    </div>
  </footer>