<h1 class="center">Recettes</h1>
<div class="container">
  <div class="row">
    <div class="col l4 m4 s12">
      <div class="card sticky-action">
        <div class="card-image">
            <img src="../assets/images/rizReunion.png" alt="" class="materialboxed">
            <span class="card-title text-seze= 20px">Menu</span>
            <a class="btn red btn-floating halfway-fab pulse activator">+</a>
             <!-- <a class="btn-floating halfway-fab waves-effect waves-light red pulse activator"><i class="material-icons">add</i></a>-->
           
        </div>
        <div class="card-content">
        <p> Lundi	(Menu Exotiques)  </p>
        </div>
        <div class="card-reveal">
          <span class="card-tilte"> Entrée	(Salade tropicale de crevettes à l'ananas) <i class="right">x</i></span>
           <p> 
						Ingrédients et recettes
  
      
  
  Ingrédients:	Pour 4 Personnes
  
    - 200g de crevettes décortiquées ou 500g de crevettes entières
    - 1/3 de concombre
    - 1/2 anans frais
    - 1 poivron rouge
    - 2 oignons
    - 2 avocats
    - 1 piment
    - 2 branches de coriandre
  
  Pour la sauce:
  
    - 4 c. à soupe de jus d'orange
    - 3 c. à soupe de jus de citron
    - 2 c. à soupe d'huile d'olive
    - 2 c. à café de sel
    - 1 c. à café de poivre noir
  
  Préparation:	40 minutes
  
    1. Epluchez et épépinez le concombre. Enlevez la peau de l'ananas et ôtez la partie centrale. Epluchez les oignons.
    2. Coupez l'ananas, le poivron et le concombre en petit dés. Coupez les oignons en lanières et hachez finement le piment. Mélangez le tout, ajoutez les
       crevettes et mettez au frais.
    3. Mélangez les ingrédients de la sauce.
    4. Epluchez et dénoyautez les avocats. Coupez-les en gros dés. Coupez les feuilles de coriandre en petites lanières.
    5. Mélangez l'avocat et la coriandre à la préparation aux crevettes. Ajoutez la sauce, mélangez bien.
  
  
      Plat	(Poulet coco réunionnais, riz)
  
  ingrédients:	Pour 4 personnes
  
    - 1 poulet coupé en morceaux
    - 40 cl de lait de coco
    - 1 poivron rouge
    - 25 cl de coulis de tomates
    - 1 gros oignon
    - Huile 
    - Sel, poivre
  
  Préparation:	30 minutes		Cuisson: 1 heure 10
  
    1. Dans une cocotte, faites dorer les morceaux de poulet avec un peu d'huile. Salez et poivrez.
    2. Ajoutez de l'eau à hauteur et laissez cuire pendant 30 minutes.
    3. Coupez l'oignon et le poivron en morceaux, mettez-les dans la cocotte avec le lait de coco et le coulis de tomates.
    4. Laissez mijoter et réduire pendant 30 minutes, accompagnez de riz blanc.
  
  
      Dessert	(Salade épicée fraises et mangues)
  
  Ingrédients:	Pour 4 personnes
  
    - 500g de fraises
    - 1 mangue
    - 1 orange
    - Quelques feuilles de menthe
    - 1 Pincée de poivre
    - 1 pincée de gingembre en poudre
    - 1 pincée de cannelle
    - 1 pincée de vanille en poudre
  
  Préparation:	20 minutes		Cuisson: 1 minute		Repos: 30 minutes
  
    1. Pressez l'orange. Dans une casserole, faites chauffer le jus d'orange en y ajoutant le poivre, le gingembre, la cannelle et la vanille.
    2. Portez à ébullition 1mn pour obtenir un sirop puis laissez refroidir.
    3. Pendant que le sirop refroidit, préparez les fruits: lavez, équeutez et coupez les fraises en 2, coupez la mangue en cubes et mélangez les fruits dans un saladier.
    4. Lavez et ciselez la menthe puis ajoutez-la aux fruits.
    5. Quand le sirop est froid, versez-le sur les fruits, mélangez et mettez au moins 30mn au réfrigérateur.
  </p>
        </div>
        <div class="card-action">
           <a href="ingrediant">Details</a>
        </div>
    </div>
    </div>
    <div class="col l4 m4 s12">
      <div class="card sticky-action">
        <div class="card-image">
            <img src="../assets/images/boulette.png" alt="" class="materialboxed">
            <span class="card-title">MENU</span>
            <!--<a class="btn red btn-floating halfway-fab pulse activator">+</a>-->
            <a class="btn-floating halfway-fab waves-effect waves-light red pulse activator"><i class="material-icons">add</i></a>
        </div>
        <div class="card-content">
        <p>   Mardi (Menu Italiens)  </p>
        </div>
        <div class="card-reveal">
          <span class="card-tilte">  Entrée (Gaspacho Andaluz) <i class="right">x</i>
          </span>
           <p> Ingrédients et recettes
    
    Ingrédients:	Pour 4-6 personnes
    
      - 1 concombre
      - 2 grosses tomates
      - 1/4 de baguette rassie
      - 1 poivron rouge
      - 2 oeufs durs
      - 1 oignon
      - 1 à 2 gousses d'ail
      - 1 petit verre d'huile d'olive
      - 1/2 verre de vinaigre
      - Sel
    
    Préparation:	30 minutes
    
      1. Faites tremper la baguette dans de l'eau froide.
      2. Epluchez le concombre, coupez les trois quarts en morceaux. Pelez les tomates.
      3. Epluchez et coupez l'oignon en deux. Epluchez l'ail et les oeufs durs.
      4. Coupez le oivron en deux, ôtez le pédoncule et les graines.
      5. Mixez les trois quarts du concombre, les tomates, l'oignon; les oeufs, le poivron, l'ail, le pain essoré, l'huile et le
         vinaigre, jusqu'à obtenir un mélange homogène.
      6. Versez le tout dans un grand saladier et ajoutez de l'eau très fraîche pour obtenir une consistance assez liquide, comme
         une soupe. Salez.
      7. Parsemez le gaspacho du quart du concombre restant coupé en petits dés.
      8. Servir très frais.
    
    
        Plat (Boulettes de Boeuf en ragoût)
    
    
    Ingrédients:	Pour 6 personnes
    
      - 1kg de boeuf haché
      - 700g de passata (purée de tomate italienne)
      - 1 gros oeuf battu
      - 80g de mie de pain
      - 10cl de lait
      - 3 brins de thym frais
      - 1 bouquet garni
      - 4 gousses d'ail
      - 1 gros oignon
      - 1/2 c. à café de piment d'Espelette
      - 1 c. à café de sucre
      - 8cl de vinaigre balsamique
      - 3 c. à soupe d'huile d'olive
      - Sel, poivre
    
            
            </p>
        </div>
        <div class="card-action">
           <a href="ingrediant">Details</a>
        </div>
    </div>
    </div>
    <div class="col l4 m4 s12">
      <div class="card sticky-action">
        <div class="card-image">
            <img src="../assets/images/doratte.png" alt="" class="materialboxed">
            <span class="card-title">MENU</span>
            <a class="btn red btn-floating halfway-fab pulse activator">+</a>
           
            
        </div>
        <div class="card-content">
        <p> Mercredi (menu méditérranéen) </p>
        </div>
        <div class="card-reveal">
          <span class="card-tilte">  Entrée (Salade Grecque au concombre et à la feta)<i class="right">x</i>
          </span>
           <p> Ingrédients et recette
    
      Ingrédients:	Pour 4 personnes
      
        - 1 concombre
        - 1 oignon rouge
        - 150g de feta
        - Les feuilles de 1/2 bouquet de persil
        - Les feuilles de 1/2 bouquet de coriandre
        - 4 tomates confites à l'huile d'olive
        - 1 à 2 c. à s. de câpres
        - 1 c. à s. de jus de citron
        - 1 c. à c. de vinaigre
        - 2 c. à s. de yaourt nature brassé
        - 2 gousses d'ail écrasées
        - 100g d'olives vertes dénouyautés
        - Sel, poivre
      
      
      Préparation:	20 minutes
      
        1. Pelez le concombre. Coupez-le en deux, épépinez-le à la cuillère, puis recoupez-le en dés. Pelez et émincez l'oignon.
           Coupez la feta en dés. Lavez et essorez le persil et la coriandre.
        2. Egouttez les tomates confites en réservant 1 c. à s. de leur huile de conservation. Egouttez; puis rincer les câpres.
        3. Dans un saladier, mélangez le jus de citron avec le vinaigre, le yaourt, du sel et du poivre. Emulsionnez avec l'huile
           réservée en fouettant, puis incorporez l'ail.
        4. Ajoutez le concombre, l'oignon, les trois quarts de la feta et du persil, la coriandre, les tomates ainsi que les olives.
           Mélangez soigneusement et rectifiez l'assaissonnement si nécessaire. Parsemez du reste de feta et de persil et servez.
      
      
          Plat (Dorade Royale aux pommes de terres)
      
      
      Ingrédients:	Pour 4 personnes
      
        - 1 dorade royale de 1kg
        - 6 pommes de terre moyennes
        - 2 poignées de persil plat
        - 3 c. à s. de vin blanc
        - 50g de pecorino romano râpé
        - 1/2 citron
        - 4 c. à s. d'huile d'olive
        - Sel, poivre
      
      
      Préparation:	30 minutes			Cuisson:   45 minutes
      
        1. Faites vider et écailler la daurade par votre poissonnier.
        2. Préchauffez votre four à 180 degré.
        3. Pelez et coupez les pommes de terre très finement, assaissonnez-les avec 2 c. à s. d'huile d'olive, le persil haché, le 
           Pecorino, du sel et du poivre. Huilez un plat à four, tapissez-le de tranches de pommes de terre et enfournez pour 15 mn.
        4. Préparez le poisson: salez l'intérieur, ajoutez les queues de persil, 2 rondelles de citron et badigeonnez le tout d'huile
           d'olive.
        5. Disposez le poisson sur les pommes de terre en veillant à couvrir les bords du poisson de tranches de pomme de terre.
           Enfournez de nouveau pour 30 minutes. Au bout de 15 minutes, ajoutez le vin blanc.
      
      
          Dessert (Crème de citron)
      
      
      Ingrédients:	Pour 4 à 6 personnes
      
        - 4 citrons non traités
        - 150g de sucre
        - 3 oeufs
        - 1 c. à s. de maizena
      
      
      Préparation:	15 minutes			Cuisson:    12 minutes 
      
        1. Lavez les citrons. Prélevez le zeste de 2 citrons et mettez-le dans une casserole.
        2. Pressedz les 4 citrons et versez leur jus dans la casserole.
        3. Ajoutez le sucre et la maizena, remuez et laissez chauffer à feu doux.
        4. Dans un  bol, battez les oeufs puis incorporez-les au mélange précédent sans cesser de remuer.
        5. Augmentez la puissance du feu et continuez de remuer à l'aide d'un fouet(sinon la crème pourrait brûler): le mélange
           va s'épaissir.
        6. Otez la casserole du et répartissez la crème dans un ou plusieurs pots en verre. laissez refroidir et conservez au frais.                                
      </p>
        </div>
        <div class="card-action">
           <a href="ingrediant">Details</a>
        </div>
    </div>
    </div>
    <div class="col l4 m4 s12">
      <div class="card sticky-action">
        <div class="card-image">
            <img src="../assets/images/rouette.png" alt="" class="materialboxed">
            <span class="card-title">MENU</span>
            <!--<a class="btn red btn-floating halfway-fab pulse activator">+</a>-->
           
            <a class="btn-floating halfway-fab waves-effect waves-light red pulse activator"><i class="material-icons">add</i></a>
        </div>
        <div class="card-content">
        <p> Jeudi (Menu Fermier) </p>
        </div>
        <div class="card-reveal">
          <span class="card-tilte">Entrée (Cake courgette, lardons)<i class="right">x</i>
          </span>
           <p> 	 
					    	Ingrédients et recette

Ingrédients:	Pour 6 personnes

	- 2 courgettes
	- 1 bûche de chèvre
	- 150g de comté
	- 100g de lardons
	- Origan
	- 150g de farine
	- 1 sachet de levure chimique
	- 3 oeufs
	- 12,5cl de lait
	- 4 c. à soupe d'huile d'olive
	- Beurre
	- Sel, poivre


Préparation:	25 minutes			Cuisson:   1 heure

	1. Préchauffez votre four à 180 degré. Coupez les courgettes en rondelles après les avoir lavées puis faites-les précuire
	   4mn au four micro-ondes.
	2. Versez-les ensuite dans une grande poêle antiadhésive et poursuivez la cuisson jusqu'à ce qu'elles commencent à accrocher
	   à la poêle (comptez 2 à 3mn).
	3. Ajoutez alors les lardons, un peu d'origan, salez, poivrez et laissez dorer une dizaine de minutes.
	4. Dans un grand saladier, battez les oeufs, incorporez-y la farine, la levure, l'huile et le lait préalablement chauffé.
	   Ajoutez ensuite 100g de comté râpé, les courgettes, les lardons et le chêvre coupé en petits morceaux.
	5. Versez l'ensemble dans un moule à cake beurré et fariné puis déposez par-dessus quelques lamelles de comté pour gratiner.
	   Enfournez pour 45 minutes. Accompagnez d'une petite salade.




			Plat (Rouelle de Cochon aux oignons grelots, gratin dauphinois)


Ingrédients: 	Pour 6 personnes						Gratin dauphinois

	- 1 rouelle de cochon de 1,8kg environ				- 1,5kg de pommes de terre				- 				
	- 20 oignons grelot						- Muscade
	- 3 grosses c. à soupe de miel liquide				- 30cl de crème fraîche
	- 60cl de fond de veau						- 2-3 gousses d'ail
	- 15cl de vinaigre de cidre					- 100g de beurre
	- 7cl de vinaigre balsamique blanc				- 1l de lait				
	- 7cl d'huile							- Sel, poivre
	- Sel, poivre


Préparation:   20 minutes			Cuisson:   2 heures				Repos:   15 minutes

	1. Préchauffez votre four à 160 degré.
	2. Epluchez les échalotes, gardez-les entières.
	3. Chauffez l'huile dans une grande plaque à rôtir ou une grande cocotte et mettez-y la rouelle à saisir 5 min. de chaque 
	   côté sur feu vif.
	4. Une fois la rouelle dorée, baissez le feu, ajoutez les échalotes. Salez et poivrez et arrosez le tout de miel.
	5. Laissez légèrement caraméliser en enrobant bien la rouelle dans le miel, puis déglacez la plaque avec le vinaigre de cidre.
	   Laissez bouillir 5 min. puis ajoutez le fond de veau et les brindilles de romarin. Portez le tout à frémissement, puis 
	   couvrez avec une feuille de papier de cuisson.
	6. Enfournez la rouelle pour 1h30, en la retournant délicatement à mi-cuisson.
	7. Sortez la rouelle, coupez-la en tranches et servez.

Préparation gratin dauphinois:   25 minutes			Cuisson:   1 heure 15

	1. Epluchez, lavez et coupez les pommes de terre en rondelles fines. Ne les lavez surtout pas après les avoir coupées,
	   car l'amidon est nécessaire à une consistance correcte.
	2. Préchauffez votre four à 180 degré.
	3. Dans une casserole, mettez le lait, l'ail pressé, du sel, du poivre et de la muscade. Portez à l'ébullition puis plongez-y
	   les pommes de terre et laissez-les cuire 10 à 15 minutes, selon leur fermeté.
	4. Placez les pommes de terre égouttées dans un plat à gratin beurré, recouvrez le tout de crème, puis disposez des petites
	   noix de beurre sur le dessus.
	5. Enfournez pour 50 min à 1h.


			Dessert (Tarte tatin)

Ingrédients:	Pour 6 personnes

	- 8 pommes golden bien jaunes
	- 1 rouleau de pâte feuilletée
	- 2 sachets de sucre vanillé
	- 1 c. à café de cannelle en poudre
	- 100g de beurre
	- 100g de sucre


Préparation:	30 minutes			Cuisson:   40 minutes

	1. Préchauffez votre four à 200 degré.
	2. Epluchez les pommes. Coupez-les en deux ou en quatre et enlevez le coeur.
	3. Faites fondre le beurre dans une casserole, ajoutez le sucre et laissez fondre de manière à obtenir un caramel.
	4. Dès que le caramel commence à avoir une jolie couleur dorée, versez-le dans le fond d'un moule à tarte rond antiadhésive.
	5. Disposez les pommes en couronne dans le plat, mettez-en une ou deux au milieu.
	6. Saupoudrez les pommes de sucre vanillé et de cannelle puis déposez la pâte feuilletée dessus en enfonçant bien les bords
	   à l'intérieur du moule.
	7. Enfournez pour 35-40 minutes. A la sortie du four, retournez la tarte sur un plat.
</p>
        </div>
        <div class="card-action">
           <a href="ingrediant">Details</a>
        </div>
    </div>
    </div>
    <div class="col l4 m4 s12">
      <div class="card sticky-action">
        <div class="card-image">
            <img src="../assets/images/gigot.png" alt="" class="materialboxed">
            <span class="card-title">MENU</span>
            <a class="btn red btn-floating halfway-fab pulse activator">+</a>
           
           
        </div>
        <div class="card-content">
        <p> Vendredi (Menu Printanier)
          </p>
        </div>
        <div class="card-reveal">
          <span class="card-tilte">Entrée (Pain aux légumes couleur d'été)<i class="right"></i>
          </span>
           <p> 
            Ingrédients et recette

ingrédients:	Pour 8 personnes

- 500g de courgettes
- 300g de carottes
- 1 poivron rouge
- 2 c. à soupe de persil
- 4 oeufs
- 1 oignon
- 10cl de crème fraîche
- 2 c. à soupe de semoule
- 75g de gruyère râpé
- Beurre, muscade
- Sel, poivre


Préparation:	30 minutes			Cuisson:   1 heure 05


1. Pelez et hachez finement l'oignon. Rincez le poivron et coupez-le en petitts dés. Faire fondre 10g de beurre dans une 
   poêle, ajoutez le poivron et l'oignon et faites cuire à feu doux 5 min.
2. Pelez les courgettes et les carottes puis râpez-les. Ajoutez-les au mélange poivron-oignon, mélangez et faites cuire 
   doucement à couvert pendant 15 min. otez le couvercle et poursuivez la cuisson quelques minutes jusqu'à l'évaporation
   de l'eau de cuisson.
3. Préchauffez le four à 200 degré. Dans un saladier, cassez les oeufs, battez-les avec la crème fraîche, du sel, du poivre,
   et de la muscade. Ajoutez-y la semoule, le persil, le gruyère et le mélange oeufs-crème.
4. Transvasez le tout dans un moule à cake en silicone (sinon, tapissez-le de papier sulfurisé pour faciliter le démoulage).
   Enfournez pour 35 à 40 minutes. Laissez un peu reposer avant de démouler.


    
    Plat (Gigot de 7 heures en cocotte)


ingrédients:	Pour 8 personnes

- 1 gigot raccourci de 2,5kg 
- 4 carottes 
- 20 oignons grelot
- 4 gousses d'ail
- 70cl de vin blanc
- 70cl de bouillon de légumes
- 1 bouquet garni
- 1kg de panais
- 1kg de cerfeuils tubéreux
- 1 c. à soupe de poivre noir en grains
- 4 c. à soupe d'huile
- Sel, poivre


Préparation:	20 minutes			Cuisson:   7 heures

1. Préchauffez votre four à 140 degré.
2. Epluchez les carottes et les oignons, coupez les carottes en rondelles. Hachez l'ail.
3. Dans une grande cocotte, faites chauffer l'huile et faites dorer le gigot sur toutes les faces. Retirez-le de la cocotte,
   ajoutez les carottes, les oignons et l'ail. Faites-les revenir quelques minutes puis remettez le gigot dans la cocotte, 
   arrosez avec le vin et le bouillon, ajoutez le bouquet garni, le poivre en grains, couvrez et enfournez pour 5h30.
4. Epluchez les panais et les cerfeuils. Au bout de 5h30 de cuisson, ajoutez-les dans la cocotte, arrosez bien le tout avec   
   le jus, couvrez de nouveau et enfournez pour 1h30.
5. A la fin de la cuisson,l'agneau doit être très fondant. Salez et poivrez et dégustez très chaud.



    Dessert (Moelleux aux amandes et au citron)


Ingrédients:	Pour 6 personnes

- 20g de beurre ramolli
- 2 citrons non traités
- 5 oeufs
- 100g de sucre en poudre
- 1 c. à soupe d'amaretto
- 250g de poudre d'amandes
- 8àg d'amandes effilées
- Sucre glace
- sel


Préparation:	30 minutes			cuisson:   40 minutes

1. Préchauffez votre four à 180 degré (th.6). Beurrez un moule à manqué à bon haut. Lavez les citrons. Séchez-les dans du 
   papier absorbant, puis râpez-en finement le zeste.
2. Cassez les oeufs en séparant les blancs des jaunes. Dans un saladier, fouettez les blancs en neige ferme avec 1 pincée 
   de sel. incorporez-y le sucre versé en pluie quand ils commencent à se raffermir.
3. Dans un saladier, mélangez intimement les jaunes d'oeufs avec le zeste râpé, l'amaretto et la poudre d'amande. Incorporez
   délicatement les blancs en neige, en soulevant bien la masse à la spatule.
4. Transférez la préparation précédente dans le moule. Parsemez des amandes effilées, puis enfournez pour 40 minutes.
   Démoulez sur une grille et laissez refroidir. Poudrez de sucre glace juste avant de servir.
    </p>
        </div>
        <div class="card-action">
           <a href="ingrediant">Details</a>
        </div>
    </div>
    </div>
    <div class="col l4 m4 s12">
      <div class="card sticky-action">
        <div class="card-image">
            <img src="../assets/images/moules.png" alt="" class="materialboxed">
            <span class="card-title">MENU</span>
            <!--<a class="btn red btn-floating halfway-fab pulse activator">+</a>-->
           
            <a class="btn-floating halfway-fab waves-effect waves-light red pulse activator"><i class="material-icons">add</i></a>
        </div>
        <div class="card-content">
        <p> 	Samedi (Menu Normand) </p>
        </div>
        <div class="card-reveal">
          <span class="card-tilte">Entrée (Moukes farcies au beurre de Pastis)  <i class="right">x</i>
          </span>
           <p>

						Ingrédients et recette

Ingrédients:	pour 6 personnes

	- 30 grosses moules d'Espagne nettoyées
	- 3 tomates
	- 185g de beurre ramolli
	- 1 bouquet de persil plat ciselé
	- 1 c. à café de piment d'Espelette en poudre
	- 3 échalotes 
	- 3 à 4 c. à soupe de pastis
	- 6 c. à soupe de chapelure
	- Sel, poivre


Préparation:	15 minutes			Cuisson:   8-10 minutes

	1. Préchauffez le four à 210 degré (th.7). Dans un faitout, faites ouvrir les moules 3 à 5 minutes à feu vif. Transférez-les
	   dans une passoire placée au-dessus d'un saladier, pour en recueillir le jus. Retirez La partie supérieure leur coquille,
	   puis disposez-les côte à côte sur la plaque du four.
	2. Pelez et épépinez les tomates. Hachez-les finement au couteau. Dans un saladier, mélangez-les en fouettant avec le beurre 
	   ramolli, le persil, le piment, les échalotes, le pastis et la chapelure. Salez légèrement et poivrez généreusement.
	3. Filtrez le jus des moules. Transvasez-le dans une casserole, puis faites-le réduire des trouis quarts à feu moyen.
	   Mélangez-le à la préparation précédente.
	4. Répartissez le beurre de pastis sur les moules. Enfournez pour 5 minutes et servez très chaud.



			Plat (Coq au vin façon bistrot, poêlée de cèpes à la bordelaise)


Ingrédients: Pour 6 personnes							Poêlée de cèpes à la Bordelaise

	- 1 coq coupé en 8 morceaux					- 12 Pièces de cèpes
	- 200g de lardons fumés						- 40g de beurre
	- 200g d'oignons grelot						- 3cl d'huile d'olive
	- 1 c. à soupe de farine					- Thym, laurier
	- 50cl de bouillon de volaille					- 1 gousse d'ail
	- 100g de beurre						- 2 échalotes
	- 4 c. soupe d'huile d'olive					- Persil plat
	- 1 c. à soupe de sucre						- Sel, poivre
	- 5 brins de persil plat

Marinade: 
	
	- 2 litres de vin rouge
	- 2 carottes pelées et coupées en rondelles 
	- 1 oignon pelé et émincé
	- 3 gousses d'ail pelées, dégermées et coupées en deux
	- 1 bouquet garni
	- Sel, poivre


Prération:	45 minutes			Cuisson:   2 heures			Repos: 12 heures

	1. Rassemblez tous les ingrédients de la marinade, ajoutez le coq, couvrez et laissez mariner 12h au réfrigérateur.
	2. Faites dorer les lardonsdans une poêle sans matière grasse. Réservez. Egouttez les morceaux de coq, filtrez la marinade
	   en conservant séparément le vin et les aromates. faites chauffer 2 c. à soupe d'huile et 40g de beurre dans une cocotte en fonte et faites-y revenir les 
	   morceaux de coq de tous côtés 10 minutes. Procédez en deux fois si nécessaire. Réservez dans un plat.
	3. Essuyer la cocotte pour ne garder qu'environ 2 c. à soupe de matière de grasse. Ajoutez de la garniture aromatique
	   (pas le bouquet garni) de la marinade et faites-la fondre pendant 2 minutes. Ajoutez la farine et faites cuire 5 minutes
	   en mélangeant. Ajoutez le vin, mélangez en grattant le fond de la cocotte pour bien récupérer les sucs de cuisson et faites
	   réduire d'un tiers environ sur feu vif. Versez le bouillon de volaille, ajoutez le bouquet garni et portez à frémissement.
	   Ajoutez délicatement les morceaux de coq, couvrez et poursuivez la cuisson 1h45 (la sauce doit continuer à frémir).
	4. Placez les oignons grelot pelés dans un faitout avec 20g de beurre, le sucre, du sel. couvrez d'eau à hauteur et couvrez 
	   d'un papier cuisson. portez à ébullition et laissez mijoter 20 minutes environ, jusqu'à ce qu'ils soient glacés.
	5. Egouttez les morceaux de coq, retirez le bouquet garni puis mixer et filtrez la sauce. Remettez la sauce et le coq dans
	   la cocotte, avec les oignons grelot glacés. pardemez de persil plat ciselé.
	6. Servir bien chaud.


Préparation Poêlée de cèpes à la bordelaise:	20 minutes			cuisson:   10 minutes 

	1. A l'aide d'un petit couteau, gratter la terre des pieds des cèpes, puis les éplucher. Lavez ensuite rapidement chaque
	   champignon sous un filet d'eau froide, puis les posez sur un linge afin d'absorber l'excédent d'humidité. Coupez tous
	   les champignons en morceaux de 2 à 3 cm.
	2. Ecrasez l'ail avec le côté plat de la lame d'un couteau. Lavez, effeuillez et hachez le persil plat.
	3. Dans une grande poêle froide, versez un filet d'huile puis répartir les champignons et les assaissonnez de sel. Ajoutez
	   l'ail, le thym, le laurier et cuire à feu moyen pendant 5 à 8 minutes. Lorsque les champignons commencent à bien dorer,
	   les tournez progressivement et ajoutez le beurre. quand ils sont colorés, ajoutez les échalotes, puis le persil.
	   Poursuivre la cuisson pendant quelques minutes et poivrez.



			Dessert (Ramequin fondant au chocolat)


Ingrédients:	Pour 6 personnes

	- 180g de chocolat noir pâtissier + 6 carrés
	- 5 oeufs
	- 120g de sucre
	- 50g de beurre
	- 1 c. et demi à soupe de farine


Préparartion:	10 minutes			Cuisson: 12 minutes

	1. Préchauffez le four à 210 degré.
	2. Dans une casserole, faire fondre le chocolat et beurre coupés en morceausx en remuant régulièrement pour former une pâte
	   homogène et onctueuse.
	3. Dans un saladier, mélangez les oeufs, le sucre et la farine. Incorporez la préparation chocolatée et mélangez.
	4. Versez un tiers de la préparation dans 6 ramequins individuels. Déposez 2 carrés de chocolat dans chacun des ramequins, 
	   puis recouvrez-les avec le reste de la préparation chocolatée.
	5. Placez les ramequins au four poue environ 12 minutes, pas plus!
 					</p>
        </div>
        <div class="card-action">
           <a href="ingrediant">Details</a>
        </div>
    </div>
    </div>
    <div class="col l4 m4 s12">
      <div class="card sticky-action">
        <div class="card-image">
            <img src="../assets/images/Cocotte.png" alt="" class="materialboxed">
            <span class="card-title">MENU</span>
            <!--<a class="btn red btn-floating halfway-fab pulse activator">+</a>-->
           
            <a class="btn-floating halfway-fab waves-effect waves-light red pulse activator"><i class="material-icons">add</i></a>
        </div>
        <div class="card-content">
        <p> Dimanche (Menu familiale) </p>
        </div>
        <div class="card-reveal">
          <span class="card-tilte">Entrée (Tartare de tomate au guacamole) <i class="right">x</i>
          </span>
           <p> 


						ingrédients et recette

Ingrédients:	Pour 4 personnes

	- 500g de tomate
	- 1 gousse d'ail écrasée
	- 1 oignon rouge finement émincé
	- Les feuilles de 2 branches de coriandre ciselées + quelques feuilles pour décorer
	- 2 c. à soupe d'huile d'olive
	- 2 avocats bien mûrs
	- 1 oignon blanc frais finement émincé
	- le jus d'un demi citron 
	- Quelques gouttes de tabasco vert
	- Sel, poivre


Préparation:	25 minutes

	1. Lavez les tomates. Plongez-les 30 secondes dans l'eau bouillante, puis, aussitôt, dans l'eau glacée. Egouttez-les 
	   et épluchez-les. Coupez-les en deux et épépinez-les. Recoupez-les en dés. 
	2. Dans un saladier, mélangez les dés de tomate avec l'ail, l'oignon rouge, la coriandre ciselée, l'huile, du sel et du poivre.
	   Réservez au réfrigérateur.
	3. Pelez et dénoyautez les avocats. Coupez-en la pulpe en morceaux. Réduisez en purée au mixeur avec l'oignon, le jus de 
	   citron, le tabasco et du sel.
	4. Remplissez 1 ramequin avec un quart du tartare, en tassant. Retournez sur une assiette. Recommencez trois fois l'opération
	   Répartissez le guacamole sur le tartare. Poivrez et décorez des feuilles de coriandre. Servez Aussitôt.




			Plat (Cocotte de veau à la provençale, pomme vapeur)


Ingrédients:	Pour 4 personnes						Pommes vapeurs

	- 900g d'épaule de veau coupée en cubes				- 400g de pommes de terre à chair ferme
	- 30g de beurre							- 1/2 c. à café de gros sel
	- 1 c. à soupe d'huile						- 1 c. à soupe de persil
	- 1 oignon haché						- 20g de beurre
	- 3 gousses d'ail écrasées
	- 4 tomates pelées, épépinées et coupées en dés
	- 15cl de vin blanc
	- 16 olives vertes
	- 16 olives noires
	- 1 bouquet de thym frais
	- Sel, poivre


Préparation:	25 minutes			Cuisson:   1 heure 15

	1. Salez et poivrez les morceaux de veau, puis faites-les dorer de tous les côtés avec le beurre et l'huile dans une
	   casserole à feu moyen
	2. Préchauffez le four à 180 degré. Ajoutez l'oignon et l'ail, et faites suer environ 10 minutes, en mélangeant 
	   régulièrement. Coupez le feu.
	3. Répartissez le contenant de la casserole dans une cocotte. Ajoutez les dés de tomaten le vin blanc sec, les olives vertes
	   et noires ey le bouquet de thym. Couvrez et enfournez 1 heure.
	4. Servir à même la cocotte


Préparation Pommes de terre vapeur

	1. Pelez délicatement les pommes de terre et rincez-les à l'eau froide. Retirez les yeux et les autres points noirs sur
	   leur peau.
	2. Versez de l'eau dans une cocotte jusqu'à 3 cm de hauteur. posez un panier vapeur en inox au dessus de l'eau. Placez les
	   pommes de terre dedans. Ajoutez le gros sel. Fermez la cocotte et laissez bouillir 30 minutes pour que les pommes de 
	   terre soient bien fermes.
	3. Disposez les pommes de terre cuites dans un plat, parsemez de noisettes de beurre, d'herbes ciselées et de sel.



			Dessert (Cheese-cake à la compote d'abricot)


Ingrédients:	Pour 6 personnes

	- 250g de biscuits sablés
	- 130g de beurre
	- 3 gros oeufs
*	- 230g de sucre
	- 300g de fromage frais coupé en dés
	- 40cl de crème liquide
	- 4 c. à soupe de farine tamisée
	- 30cl de crème pâtissière en brique
	- 100g de noix de coco râpé
	- 800g d'abricots
	- 4 c. à soupe de muscat
	- 3 c. à soupe de miel de lavande
	- Sucre glace
	- Quelques feuilles de menthe pour décorer


Préparation:	40 minutes			Cuisson:   40 minutes			Repos: 4 heures

	1. Mixez les biscuits avec 100g de beurre. Tassez bien cette poudre au fond d'un moule à charnière de 26cm de diamètre.
	   Réservez au réfrigérateur.
	2. Préchauffez le four à 180 degré. Fouettez les oeufs avec 180g de sucre en poudre, jusqu'à ce que le mélange 
	   blanchisse. Ajoutez le fromage, la crème et la farine, en fouettant vigoureusement pour homogénéiser. Versez le tout
	   dans le moule, puis enfournez pour 30 minutes. Laissez refroidir.
	4. Lavez et épongez les abricots. Coupez-les en deux et dénoyautez-les, puis recoupez-les en quartiers. Roulez-les dans
	   le reste du sucre.
	5. Faites chauffer le reste de beurre dans une sauteuse. Mettez-y les abricots à revenir 3 minutes à feu vif, puis ajoutez
	   le muscat et baissez le feu. Laissez ainsi compoter 7 à 10 minutes à feu doux, en remuant régulièrement. Incorporez le
	   miel, laissez refroidir la compote, puis réservez-la au réfrigérateur.
	6. Démoulez le gâteau et poudrez-le de sucre glace au dernier moment. Servez-le accompagné de la compote et décorez de 
	   feuilles de menthe.	</p>
        </div>
        <div class="card-action">
           <a href="">Details</a>
        </div>
    </div>
    </div>

    <div class="col l4 m4 s12">
      <div class="card sticky-action">
        <div class="card-image">
            <img src="../assets/images/Cocotte.png" alt="" class="materialboxed">
            <span class="card-title">MENU</span>
            <!--<a class="btn red btn-floating halfway-fab pulse activator">+</a>-->
           
            <a class="btn-floating halfway-fab waves-effect waves-light red pulse activator"><i class="material-icons">add</i></a>
        </div>
        <div class="card-content">
        <p> Extrat (Exotique)  </p>
        </div>
        <div class="card-reveal">
          <span class="card-tilte">Entrée (Cake courgette, lardons et fromage de chèvre, salade)<i class="right">x</i>
          </span>
           <p>	
						Ingrédients et recette

Ingrédients:	Pour 6 personnes

	- 2 courgettes
	- 1 bûche de chèvre
	- 150g de comté
	- 100g de lardons
	- Origan
	- 150g de farine
	- 1 sachet de levure chimique
	- 3 oeufs
	- 12,5cl de lait
	- 4 c. à soupe d'huile d'olive
	- Beurre
	- Sel, poivre


Préparation:	25 minutes			Cuisson:   1 heure

	1. Préchauffez votre four à 180 degré. Coupez les courgettes en rondelles après les avoir lavées puis faites-les précuire
	   4mn au four micro-ondes.
	2. Versez-les ensuite dans une grande poêle antiadhésive et poursuivez la cuisson jusqu'à ce qu'elles commencent à accrocher
	   à la poêle (comptez 2 à 3mn).
	3. Ajoutez alors les lardons, un peu d'origan, salez, poivrez et laissez dorer une dizaine de minutes.
	4. Dans un grand saladier, battez les oeufs, incorporez-y la farine, la levure, l'huile et le lait préalablement chauffé.
	   Ajoutez ensuite 100g de comté râpé, les courgettes, les lardons et le chêvre coupé en petits morceaux.
	5. Versez l'ensemble dans un moule à cake beurré et fariné puis déposez par-dessus quelques lamelles de comté pour gratiner.
	   Enfournez pour 45 minutes. Accompagnez d'une petite salade.




			Plat (Rouelle de Cochon aux oignons grelots, gratin dauphinois)


Ingrédients: 	Pour 6 personnes						Gratin dauphinois

	- 1 rouelle de cochon de 1,8kg environ				- 1,5kg de pommes de terre				- 				
	- 20 oignons grelot						- Muscade
	- 3 grosses c. à soupe de miel liquide				- 30cl de crème fraîche
	- 60cl de fond de veau						- 2-3 gousses d'ail
	- 15cl de vinaigre de cidre					- 100g de beurre
	- 7cl de vinaigre balsamique blanc				- 1l de lait				
	- 7cl d'huile							- Sel, poivre
	- Sel, poivre


Préparation:   20 minutes			Cuisson:   2 heures				Repos:   15 minutes

	1. Préchauffez votre four à 160 degré.
	2. Epluchez les échalotes, gardez-les entières.
	3. Chauffez l'huile dans une grande plaque à rôtir ou une grande cocotte et mettez-y la rouelle à saisir 5 min. de chaque 
	   côté sur feu vif.
	4. Une fois la rouelle dorée, baissez le feu, ajoutez les échalotes. Salez et poivrez et arrosez le tout de miel.
	5. Laissez légèrement caraméliser en enrobant bien la rouelle dans le miel, puis déglacez la plaque avec le vinaigre de cidre.
	   Laissez bouillir 5 min. puis ajoutez le fond de veau et les brindilles de romarin. Portez le tout à frémissement, puis 
	   couvrez avec une feuille de papier de cuisson.
	6. Enfournez la rouelle pour 1h30, en la retournant délicatement à mi-cuisson.
	7. Sortez la rouelle, coupez-la en tranches et servez.

Préparation gratin dauphinois:   25 minutes			Cuisson:   1 heure 15

	1. Epluchez, lavez et coupez les pommes de terre en rondelles fines. Ne les lavez surtout pas après les avoir coupées,
	   car l'amidon est nécessaire à une consistance correcte.
	2. Préchauffez votre four à 180 degré.
	3. Dans une casserole, mettez le lait, l'ail pressé, du sel, du poivre et de la muscade. Portez à l'ébullition puis plongez-y
	   les pommes de terre et laissez-les cuire 10 à 15 minutes, selon leur fermeté.
	4. Placez les pommes de terre égouttées dans un plat à gratin beurré, recouvrez le tout de crème, puis disposez des petites
	   noix de beurre sur le dessus.
	5. Enfournez pour 50 min à 1h.


			Dessert (Tarte tatin)

Ingrédients:	Pour 6 personnes

	- 8 pommes golden bien jaunes
	- 1 rouleau de pâte feuilletée
	- 2 sachets de sucre vanillé
	- 1 c. à café de cannelle en poudre
	- 100g de beurre
	- 100g de sucre


Préparation:	30 minutes			Cuisson:   40 minutes

	1. Préchauffez votre four à 200 degré.
	2. Epluchez les pommes. Coupez-les en deux ou en quatre et enlevez le coeur.
	3. Faites fondre le beurre dans une casserole, ajoutez le sucre et laissez fondre de manière à obtenir un caramel.
	4. Dès que le caramel commence à avoir une jolie couleur dorée, versez-le dans le fond d'un moule à tarte rond antiadhésive.
	5. Disposez les pommes en couronne dans le plat, mettez-en une ou deux au milieu.
	6. Saupoudrez les pommes de sucre vanillé et de cannelle puis déposez la pâte feuilletée dessus en enfonçant bien les bords
	   à l'intérieur du moule.
	7. Enfournez pour 35-40 minutes. A la sortie du four, retournez la tarte sur un plat.
</p>
        </div>
        <div class="card-action">
           <a href="ingrediant">Details</a>
        </div>
    </div>
    </div>

    <div class="col l4 m4 s12">
      <div class="card sticky-action">
        <div class="card-image">
            <img src="../assets/images/Cocotte.png" alt="" class="materialboxed">
            <span class="card-title">MENU</span>
            <!--<a class="btn red btn-floating halfway-fab pulse activator">+</a>-->
           
            <a class="btn-floating halfway-fab waves-effect waves-light red pulse activator"><i class="material-icons">add</i></a>
        </div>
        <div class="card-content">
        <p> 	Dimanche (Menu familiale)  </p>
        </div>
        <div class="card-reveal">
          <span class="card-tilte">Entrée (Tartare de tomate au guacamole) <i class="right">x</i>
          </span>
           <p> 
						ingrédients et recettes

Ingrédients:	Pour 4 personnes

	- 500g de tomate
	- 1 gousse d'ail écrasée
	- 1 oignon rouge finement émincé
	- Les feuilles de 2 branches de coriandre ciselées + quelques feuilles pour décorer
	- 2 c. à soupe d'huile d'olive
	- 2 avocats bien mûrs
	- 1 oignon blanc frais finement émincé
	- le jus d'un demi citron 
	- Quelques gouttes de tabasco vert
	- Sel, poivre


Préparation:	25 minutes

	1. Lavez les tomates. Plongez-les 30 secondes dans l'eau bouillante, puis, aussitôt, dans l'eau glacée. Egouttez-les 
	   et épluchez-les. Coupez-les en deux et épépinez-les. Recoupez-les en dés. 
	2. Dans un saladier, mélangez les dés de tomate avec l'ail, l'oignon rouge, la coriandre ciselée, l'huile, du sel et du poivre.
	   Réservez au réfrigérateur.
	3. Pelez et dénoyautez les avocats. Coupez-en la pulpe en morceaux. Réduisez en purée au mixeur avec l'oignon, le jus de 
	   citron, le tabasco et du sel.
	4. Remplissez 1 ramequin avec un quart du tartare, en tassant. Retournez sur une assiette. Recommencez trois fois l'opération
	   Répartissez le guacamole sur le tartare. Poivrez et décorez des feuilles de coriandre. Servez Aussitôt.




			Plat (Cocotte de veau à la provençale, pomme vapeur)


Ingrédients:	Pour 4 personnes						Pommes vapeurs

	- 900g d'épaule de veau coupée en cubes				- 400g de pommes de terre à chair ferme
	- 30g de beurre							- 1/2 c. à café de gros sel
	- 1 c. à soupe d'huile						- 1 c. à soupe de persil
	- 1 oignon haché						- 20g de beurre
	- 3 gousses d'ail écrasées
	- 4 tomates pelées, épépinées et coupées en dés
	- 15cl de vin blanc
	- 16 olives vertes
	- 16 olives noires
	- 1 bouquet de thym frais
	- Sel, poivre


Préparation:	25 minutes			Cuisson:   1 heure 15

	1. Salez et poivrez les morceaux de veau, puis faites-les dorer de tous les côtés avec le beurre et l'huile dans une
	   casserole à feu moyen
	2. Préchauffez le four à 180 degré. Ajoutez l'oignon et l'ail, et faites suer environ 10 minutes, en mélangeant 
	   régulièrement. Coupez le feu.
	3. Répartissez le contenant de la casserole dans une cocotte. Ajoutez les dés de tomaten le vin blanc sec, les olives vertes
	   et noires ey le bouquet de thym. Couvrez et enfournez 1 heure.
	4. Servir à même la cocotte


Préparation Pommes de terre vapeur

	1. Pelez délicatement les pommes de terre et rincez-les à l'eau froide. Retirez les yeux et les autres points noirs sur
	   leur peau.
	2. Versez de l'eau dans une cocotte jusqu'à 3 cm de hauteur. posez un panier vapeur en inox au dessus de l'eau. Placez les
	   pommes de terre dedans. Ajoutez le gros sel. Fermez la cocotte et laissez bouillir 30 minutes pour que les pommes de 
	   terre soient bien fermes.
	3. Disposez les pommes de terre cuites dans un plat, parsemez de noisettes de beurre, d'herbes ciselées et de sel.



			Dessert (Cheese-cake à la compote d'abricot)


Ingrédients:	Pour 6 personnes

	- 250g de biscuits sablés
	- 130g de beurre
	- 3 gros oeufs
*	- 230g de sucre
	- 300g de fromage frais coupé en dés
	- 40cl de crème liquide
	- 4 c. à soupe de farine tamisée
	- 30cl de crème pâtissière en brique
	- 100g de noix de coco râpé
	- 800g d'abricots
	- 4 c. à soupe de muscat
	- 3 c. à soupe de miel de lavande
	- Sucre glace
	- Quelques feuilles de menthe pour décorer


Préparation:	40 minutes			Cuisson:   40 minutes			Repos: 4 heures

	1. Mixez les biscuits avec 100g de beurre. Tassez bien cette poudre au fond d'un moule à charnière de 26cm de diamètre.
	   Réservez au réfrigérateur.
	2. Préchauffez le four à 180 degré. Fouettez les oeufs avec 180g de sucre en poudre, jusqu'à ce que le mélange 
	   blanchisse. Ajoutez le fromage, la crème et la farine, en fouettant vigoureusement pour homogénéiser. Versez le tout
	   dans le moule, puis enfournez pour 30 minutes. Laissez refroidir.
	4. Lavez et épongez les abricots. Coupez-les en deux et dénoyautez-les, puis recoupez-les en quartiers. Roulez-les dans
	   le reste du sucre.
	5. Faites chauffer le reste de beurre dans une sauteuse. Mettez-y les abricots à revenir 3 minutes à feu vif, puis ajoutez
	   le muscat et baissez le feu. Laissez ainsi compoter 7 à 10 minutes à feu doux, en remuant régulièrement. Incorporez le
	   miel, laissez refroidir la compote, puis réservez-la au réfrigérateur.
	6. Démoulez le gâteau et poudrez-le de sucre glace au dernier moment. Servez-le accompagné de la compote et décorez de 
	   feuilles de menthe.	</p>
        </div>
        <div class="card-action">
           <a href="ingrediant">Details</a>
        </div>
    </div>
    </div>
   
   
  </div>
    
</div>
